### Importing necessary libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Loading the dataset

In [2]:
dataset = pd.read_csv('train.csv')
dataset.head()

,QuestionId,ConstructId,ConstructName,SubjectId,SubjectName,CorrectAnswer,QuestionText,AnswerAText,AnswerBText,AnswerCText,AnswerDText,MisconceptionAId,MisconceptionBId,MisconceptionCId,MisconceptionDId
0,0,856,Use the order of operations to carry out calcu...,33,BIDMAS,A,\[\r\n3 \times 2+4-5\r\n\]\r\nWhere do the bra...,\( 3 \times(2+4)-5 \),\( 3 \times 2+(4-5) \),\( 3 \times(2+4-5) \),Does not need brackets,NaN,NaN,NaN,1672.0
1,1,1612,Simplify an algebraic fraction by factorising ...,1077,Simplifying Algebraic Fractions,D,"Simplify the following, if possible: \( \frac{...",\( m+1 \),\( m+2 \),\( m-1 \),Does not simplify,2142.0,143.0,2142.0,NaN
2,2,2774,Calculate the range from a list of data,339,Range and Interquartile Range from a List of Data,B,Tom and Katie are discussing the \( 5 \) plant...,Only\r\nTom,Only\r\nKatie,Both Tom and Katie,Neither is correct,1287.0,NaN,1287.0,1073.0
3,3,2377,Recall and use the intersecting diagonals prop...,88,Properties of Quadrilaterals,C,The angles highlighted on this rectangle with ...,acute,obtuse,\( 90^{\circ} \),Not enough information,1180.0,1180.0,NaN,1180.0
4,4,3387,Substitute positive integer values into formul...,67,Substitution into Formula,A,The equation \( f=3 r^{2}+3 \) is used to find...,\( 30 \),\( 27 \),\( 51 \),\( 24 \),NaN,NaN,NaN,1818.0

### Dataset overview

In [7]:
dataset.describe()

,QuestionId,ConstructId,SubjectId,MisconceptionAId,MisconceptionBId,MisconceptionCId,MisconceptionDId
count,1869.000000,1869.000000,1869.000000,1135.000000,1118.000000,1080.000000,1037.000000
mean,934.000000,1613.261637,225.370787,1308.599119,1308.029517,1285.300926,1264.568949
std,539.678145,1060.591804,238.536233,744.518370,766.487351,742.212198,759.818341
min,0.000000,4.000000,33.000000,1.000000,1.000000,2.000000,0.000000
25%,467.000000,575.000000,92.000000,686.000000,628.500000,652.250000,578.000000
50%,934.000000,1470.000000,203.000000,1336.000000,1379.000000,1294.500000,1282.000000
75%,1401.000000,2637.000000,238.000000,1954.000000,1970.000000,1912.000000,1897.000000
max,1868.000000,3526.000000,1984.000000,2585.000000,2586.000000,2585.000000,2583.000000

In [3]:
dataset.columns

Index(['QuestionId', 'ConstructId', 'ConstructName', 'SubjectId',
       'SubjectName', 'CorrectAnswer', 'QuestionText', 'AnswerAText',
       'AnswerBText', 'AnswerCText', 'AnswerDText', 'MisconceptionAId',
       'MisconceptionBId', 'MisconceptionCId', 'MisconceptionDId'],
      dtype='object')

In [4]:
dataset.dtypes

QuestionId            int64
ConstructId           int64
ConstructName        object
SubjectId             int64
SubjectName          object
CorrectAnswer        object
QuestionText         object
AnswerAText          object
AnswerBText          object
AnswerCText          object
AnswerDText          object
MisconceptionAId    float64
MisconceptionBId    float64
MisconceptionCId    float64
MisconceptionDId    float64
dtype: object

In [6]:
dataset.shape

(1869, 15)

In [9]:
dataset.isna().sum()/dataset.shape[0]*100

QuestionId           0.000000
ConstructId          0.000000
ConstructName        0.000000
SubjectId            0.000000
SubjectName          0.000000
CorrectAnswer        0.000000
QuestionText         0.000000
AnswerAText          0.000000
AnswerBText          0.000000
AnswerCText          0.000000
AnswerDText          0.000000
MisconceptionAId    39.272338
MisconceptionBId    40.181915
MisconceptionCId    42.215088
MisconceptionDId    44.515784
dtype: float64

#### So about 40% of the data is missing for the target features

In [13]:
# construct id feature can be unique so we might drop it but first we need to check if it true

print(np.sort(dataset['ConstructId'].unique()))
len(dataset['ConstructId'].unique())

[   4   10   18   20   26   27   28   29   30   31   32   42   46   48
   50   52   55   59   67   69   71   73   78   81   84   88   93   95
   98   99  100  102  106  111  161  162  165  172  178  179  180  181
  192  196  197  198  203  204  206  207  208  209  210  211  212  216
  217  218  219  220  221  222  223  224  233  238  239  246  247  255
  256  261  265  266  270  271  274  275  277  284  287  296  297  298
  301  302  303  306  311  312  313  314  315  316  318  321  322  325
  328  329  331  334  336  342  343  344  345  348  349  362  363  364
  369  371  373  374  375  376  378  380  381  382  383  384  385  386
  387  397  399  400  401  402  403  408  409  410  411  414  415  418
  419  420  422  423  424  425  427  428  429  433  435  436  437  440
  441  444  445  446  447  452  453  457  460  461  465  469  471  473
  474  476  478  479  480  481  483  489  513  531  547  551  559  560
  567  571  572  573  575  576  577  578  579  580  586  591  638  639
  665  690  693  695  699  700  701  702  703  704  706  707  721  722
  737  739  797  849  854  855  856  857  860  867  873  875  877  886
  898  899  900  902  908  910  919  920  921  922  926  929  941  947
  948  953  954  955  957  960  963  964  967  968  978  980  981  982
  984  985  987  988  989  996  997 1002 1006 1007 1017 1030 1034 1035
 1042 1044 1045 1052 1065 1075 1091 1093 1094 1096 1097 1098 1099 1100
 1101 1102 1103 1104 1105 1107 1110 1123 1133 1134 1137 1138 1139 1142
 1148 1151 1163 1206 1214 1217 1261 1262 1263 1264 1266 1267 1268 1269
 1270 1271 1272 1273 1274 1275 1276 1277 1279 1280 1281 1288 1289 1290
 1320 1321 1328 1354 1375 1377 1378 1382 1385 1399 1400 1403 1405 1407
 1408 1409 1410 1411 1412 1414 1421 1425 1426 1427 1428 1430 1431 1433
 1434 1437 1438 1439 1440 1442 1443 1445 1446 1447 1448 1450 1452 1453
 1454 1458 1459 1460 1464 1466 1467 1470 1472 1476 1477 1479 1481 1482
 1483 1484 1488 1489 1490 1492 1493 1494 1501 1505 1506 1507 1508 1509
 1521 1522 1523 1525 1526 1527 1529 1530 1531 1533 1549 1551 1556 1560
 1561 1562 1568 1569 1576 1577 1595 1596 1597 1610 1612 1613 1614 1615
 1616 1617 1623 1624 1627 1628 1629 1632 1654 1655 1660 1662 1671 1672
 1677 1684 1737 1738 1739 1740 1741 1742 1743 1744 1745 1746 1747 1750
 1754 1755 1756 1757 1758 1761 1776 1781 1786 1790 1795 1804 1805 1806
 1810 1815 1817 1818 1821 1872 1874 1876 1892 1898 1901 1902 1903 1936
 1960 1961 1962 1999 2008 2010 2012 2026 2028 2031 2033 2035 2040 2052
 2074 2076 2077 2087 2099 2105 2112 2113 2114 2141 2142 2144 2145 2150
 2161 2174 2176 2211 2228 2229 2232 2236 2238 2239 2240 2253 2254 2258
 2282 2296 2297 2298 2299 2301 2303 2306 2331 2347 2352 2355 2357 2358
 2376 2377 2390 2391 2393 2406 2420 2427 2432 2434 2438 2440 2451 2456
 2462 2480 2548 2560 2561 2564 2566 2570 2571 2574 2576 2578 2580 2582
 2585 2587 2593 2598 2600 2609 2610 2612 2622 2633 2634 2635 2636 2637
 2642 2646 2647 2648 2649 2650 2651 2653 2656 2657 2674 2676 2680 2687
 2695 2707 2708 2709 2711 2714 2723 2728 2729 2736 2737 2740 2741 2742
 2744 2749 2754 2758 2759 2760 2761 2762 2765 2770 2774 2786 2789 2790
 2792 2849 2861 2862 2863 2864 2866 2867 2869 2870 2904 2907 2908 2930
 2931 2934 2942 2944 2947 2948 2950 2969 2971 2972 2974 3028 3030 3032
 3033 3040 3044 3064 3065 3066 3072 3074 3085 3086 3104 3110 3112 3114
 3115 3118 3119 3120 3125 3129 3130 3132 3133 3134 3136 3138 3141 3143
 3144 3145 3163 3174 3175 3176 3178 3179 3180 3181 3183 3184 3190 3192
 3193 3202 3206 3207 3211 3212 3215 3218 3222 3225 3226 3228 3229 3265
 3270 3272 3273 3279 3281 3282 3291 3316 3318 3319 3320 3321 3322 3326
 3329 3330 3337 3338 3339 3340 3341 3342 3343 3345 3346 3349 3357 3381
 3382 3387 3391 3394 3395 3403 3406 3407 3408 3409 3411 3412 3416 3422
 3423 3436 3437 3440 3441 3488 3489 3504 3509 3510 3513 3515 3516 3522
 3526]

757