### Importing necessary libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Loading the dataset

In [2]:
dataset = pd.read_csv('train.csv')
dataset.head()

,QuestionId,ConstructId,ConstructName,SubjectId,SubjectName,CorrectAnswer,QuestionText,AnswerAText,AnswerBText,AnswerCText,AnswerDText,MisconceptionAId,MisconceptionBId,MisconceptionCId,MisconceptionDId
0,0,856,Use the order of operations to carry out calcu...,33,BIDMAS,A,\[\r\n3 \times 2+4-5\r\n\]\r\nWhere do the bra...,\( 3 \times(2+4)-5 \),\( 3 \times 2+(4-5) \),\( 3 \times(2+4-5) \),Does not need brackets,NaN,NaN,NaN,1672.0
1,1,1612,Simplify an algebraic fraction by factorising ...,1077,Simplifying Algebraic Fractions,D,"Simplify the following, if possible: \( \frac{...",\( m+1 \),\( m+2 \),\( m-1 \),Does not simplify,2142.0,143.0,2142.0,NaN
2,2,2774,Calculate the range from a list of data,339,Range and Interquartile Range from a List of Data,B,Tom and Katie are discussing the \( 5 \) plant...,Only\r\nTom,Only\r\nKatie,Both Tom and Katie,Neither is correct,1287.0,NaN,1287.0,1073.0
3,3,2377,Recall and use the intersecting diagonals prop...,88,Properties of Quadrilaterals,C,The angles highlighted on this rectangle with ...,acute,obtuse,\( 90^{\circ} \),Not enough information,1180.0,1180.0,NaN,1180.0
4,4,3387,Substitute positive integer values into formul...,67,Substitution into Formula,A,The equation \( f=3 r^{2}+3 \) is used to find...,\( 30 \),\( 27 \),\( 51 \),\( 24 \),NaN,NaN,NaN,1818.0

### Dataset overview

In [7]:
dataset.describe()

,QuestionId,ConstructId,SubjectId,MisconceptionAId,MisconceptionBId,MisconceptionCId,MisconceptionDId
count,1869.000000,1869.000000,1869.000000,1135.000000,1118.000000,1080.000000,1037.000000
mean,934.000000,1613.261637,225.370787,1308.599119,1308.029517,1285.300926,1264.568949
std,539.678145,1060.591804,238.536233,744.518370,766.487351,742.212198,759.818341
min,0.000000,4.000000,33.000000,1.000000,1.000000,2.000000,0.000000
25%,467.000000,575.000000,92.000000,686.000000,628.500000,652.250000,578.000000
50%,934.000000,1470.000000,203.000000,1336.000000,1379.000000,1294.500000,1282.000000
75%,1401.000000,2637.000000,238.000000,1954.000000,1970.000000,1912.000000,1897.000000
max,1868.000000,3526.000000,1984.000000,2585.000000,2586.000000,2585.000000,2583.000000

In [3]:
dataset.columns

Index(['QuestionId', 'ConstructId', 'ConstructName', 'SubjectId',
       'SubjectName', 'CorrectAnswer', 'QuestionText', 'AnswerAText',
       'AnswerBText', 'AnswerCText', 'AnswerDText', 'MisconceptionAId',
       'MisconceptionBId', 'MisconceptionCId', 'MisconceptionDId'],
      dtype='object')

In [4]:
dataset.dtypes

QuestionId            int64
ConstructId           int64
ConstructName        object
SubjectId             int64
SubjectName          object
CorrectAnswer        object
QuestionText         object
AnswerAText          object
AnswerBText          object
AnswerCText          object
AnswerDText          object
MisconceptionAId    float64
MisconceptionBId    float64
MisconceptionCId    float64
MisconceptionDId    float64
dtype: object

In [6]:
dataset.shape

(1869, 15)

In [5]:
dataset.isna().sum()

QuestionId            0
ConstructId           0
ConstructName         0
SubjectId             0
SubjectName           0
CorrectAnswer         0
QuestionText          0
AnswerAText           0
AnswerBText           0
AnswerCText           0
AnswerDText           0
MisconceptionAId    734
MisconceptionBId    751
MisconceptionCId    789
MisconceptionDId    832
dtype: int64